/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        max-height: 100%;
        height: 400px;
        width: 400px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #floating-panel {
        display: none;
        position: absolute;
        top: 60px;
        left: 3%;
        z-index: 5;
        padding: 5px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }