/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        position: relative;
        max-height: 100%;
        height: 0;
        padding-bottom: 75%;
        overflow: hidden;
        padding:15;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        max-width: 720px;
      }

      #floating-panel {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height:100%;
        z-index: 5;
        padding: 5px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding: 10px;
      }

      .messagedisplay {
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
        border: solid 1px #ccc;
        border-radius: 5px;
      }

      #chat_box { 
        height:330px;
        width: 100%;
        overflow: auto;        
      }

      #input_message {
        width: 100%;
        border: 1px black;
        font-size: 30px;
        padding: 10px;
      }

      #submit {
        display: none;
      }

      .row {
        margin-bottom: 20px;
      }