/* Always set the map height explicitly to define the size of the div

/* Always set the map height explicitly to define the size of the div

/* element that contains the map. */

#map {
  position: relative;
  max-height: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  padding:15;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 720px;
}

#floating-panel {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding: 10px;
}

.messagedisplay {
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px #ccc;
  border-radius: 5px;
  position: relative;
}

#chat_box { 
  height:300px;
  width: 100%;
  overflow: auto;       
}

#logo{
  opacity: 0.1;
  position:absolute;
  left: 200px;
  width:300px; 
  height:300px;
  top: 20px;
}

#chatroom {
  width: 70%;
}

#input_message {
  width: 100%;
  border: 1px black;
  font-size: 20px;
  padding: 10px 0px;
  margin: 0px 0px;
  bottom: 0;
  border: solid 1px #ccc;

}

#submit {
  display: none;
}

.row {
  margin-bottom: 20px;
}

.usermessage {
  color: white;
  text-align: right;
  background-color: rgb(73, 166, 197);
  width: 200px;
  padding: 10px 10px;
  margin-left: 67%;
  z-index: -1;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nonusermessage {
  color: white;
  text-align: left;
  background-color: rgb(66, 201, 66);
  width: 200px;
  z-index: -1;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 20px 0px;
}

.p {
  font-family: 'Open Sans', sans-serif;
}


 @media screen and (max-width: 960px) {
  .usermessage {
    margin-left: 69%;
  }
}


@media screen and (max-width: 770px) {
  .usermessage {
    margin-left: 58%;
  }
}

 @media screen and (max-width: 375px) {
  .usermessage {
    margin-left: 35%;
  }
 }

